<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logobusres"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logobusround"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusList"

        tools:targetApi="31"
        tools:replace="android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.BusList"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add TimetableActivity -->
        <activity
            android:name=".TimetableActivity"
            android:label="Timetable Activity"
            android:parentActivityName=".MainActivity">
            <!-- Add any other intent filters or attributes if needed -->
        </activity>

        <!-- Add StationsActivity -->
        <activity
            android:name=".StationsActivity"
            android:label="Stations Activity"
            android:parentActivityName=".MainActivity">
            <!-- Add any other intent filters or attributes if needed -->
        </activity>
        <!-- Add Arrival Activity       -->
        <activity
            android:name=".ArrivalsTimetableActivity"
            android:label="Arrivals Timetable Activity"
            android:parentActivityName=".StationsActivity">
        </activity>
        <activity
            android:name=".OpenStreetMapActivity"
            android:label="OpenStreetMapActivity">
        </activity>





    </application>

</manifest>
